<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground show</title>
</head>

<body>
    <h1><u>Campground</u></h1>
    <h2>
        <%= campground.title %>
    </h2>
    <h3>
        <%= campground.location %>
    </h3>
    <footer>
        <a href="/campgrounds/<%=campground._id%>/edit"><button>Edit Campground</button></a>
        <p></p>

        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" <%#Delete route%> method="post"><button>Delete
                Campground</button>

        </form>
        <p></p>
        <a href="/campgrounds"> <button>All Campgrounds</button> </a>
    </footer>
</body>

</html>